/* Grids File */

/* Sets everything to border-box sizing */
* {
  box-sizing: border-box;
}

[class ^= 'grid-col-'] {
  float: left;
}

/*8 column grid*/
.grid-col-1of8, .grid-col-2of8, .grid-col-3of8, .grid-col-4of8,
.grid-col-5of8, .grid-col-6of8, .grid-col-7of8 {
  width: 100%;
}

.content-container, .nav-container, .front-page-container, .content-container-center, .form-container, .form-container-short {
  padding: 1rem;
  max-width: 100%;
}

/* i think i can delete these once the forms and footers are fixed - MT */
/*.form-container-short {
  text-align: center;
  width: 100%;
  padding: 8% 35%;
  height: 100vh;
}

.form-container-short-2 {
  width: 100%;
  padding: 8% 35%;
  height: 100vh;
}*/


/*Gutter*/
[class*='col-'] {
  padding-right: 0;
}

.container .block {
  height: 15rem;
}

.grid-row::after {
  content: "";
  display: block;
  clear: both;
}

/*Style Guide Grid Styling*/
.container .block:nth-of-type(even) {
  background-color: rgba(40,44,56, 0.2);
}
.container .block:nth-of-type(odd) {
  background-color: rgba(70,74,86, 0.2);
}


/*MEDIA QUERIES*/
/* Mobile View */
@media (min-width: 43.75em) {
  /* 8 Column Grid */

  .grid-col-1hof8 {
    width: 6.25%;
  }

  .grid-col-1of8 {
    width: 12.5%;
  }

  .grid-col-2of8 {
    width: 25%;
  }

  .grid-col-2of8-list-view{
  width: 25%;
  }

  .grid-col-3of8 {
    width: 37.5%;
  }

  .grid-col-3of8-last{
    width: 37.5%;
    margin-left: 2em;
  }

  .grid-col-4of8 {
    width: 50%;
  }

  .grid-col-5of8 {
    width: 62.5%;
  }

  .grid-col-6of8 {
    width: 75%;
  }

  .grid-col-7of8 {
    width: 87.5%;
  }

  .grid-col-8of8 {
    width: 100%;
  }

/*
  CONTAINERS ----------------------------------------------------------------------------
*/
  .content-container {
    width: 100%;
    padding: 8% 15%;
  }

  .nav-container {
    width: 100%;
    text-align: center;
    padding: 0 5%;
  }

  .front-page-container {
    text-align: center;
    width: 100%;
    padding: 10% 30%;
  }

  .form-container {
    width: 100%;
    padding: 4% 35%;
  }

  .checkout-container {
    width: 100%;
    padding: 8% 25%;
  }

  /*Gutters*/
  [class*='col-'] {
    padding-right: 0.5em;
    padding-left: 0.5em;
  }

  .remove-gutter {
    padding-left: 0 !important;
  }

/* .grid-col-4of8-button {
  padding-left: 0 !important;
  width: 50%;
 }*/

  .mobile-show {
    display: none;
  }

}

@media (max-width:43.8em){
  .grid-col-1hof8 {
    width: 30%;
    margin-right: 1em
  }

  .content-container {
    width: 100%;
    padding: 18% 10% !important;
  }

  .fit-product{
    margin-bottom: 1em;
    width: 50%;
  }

/*  .grid-col-4of8-button {
    width: 50% !important;
    padding-right: 1em;
  }*/


  /*footer Styling*/
  .contact-us {
    float:none;
    text-align: center;
  }

  .footer {
    text-align: center;
    padding-bottom: 2em;
  }

  .text-right {
    text-align: center;
  }

  .landing-header {
  font-size: 2rem;
}

  .mobile-show {
    display: none;
  }

  .form-container {
    text-align: left;
    width: 100%;
    padding: 8% 15%;
  }

  .grid-col-8of8 {
    width: 100%;
  }

/*  .form-container-short {
    text-align: center;
    width: 100%;
    padding: 8% 15%;
    height: 100vh;
  }*/


}

/*--------------------------------------------------------------------------------------------------------*/

@media (max-width:70em){ /*1121 px - ipad landscape - laptop-ish */
  .grid-col-2of8-list-view{
    width: 33.3333%;
  }

  /* Main Heading Styling h1 elements */
  .main-heading {
    max-width: 100%;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    letter-spacing: 0.02rem;
    padding-bottom: 0.3em;
    font-size: 2em;
  }
}



/*@media (max-width:64em){*/ /*1024 px - ipad landscape - laptop-ish */

/*}*/

@media screen and (max-width: 64em){
    header {
    background: url("http://www.sfu.ca/~mtsumura/landing-pg-1024.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
  }

  .nav-container {
    width: 100%;
    text-align: center !important;
    padding-bottom: 1em;
  }

  .popup{
    width: 70%;
  }
}


@media (max-width:65.5em){ /*1048 px - ipad landscape - laptop-ish */
  .form-container {
    text-align: left;
    width: 100%;
    padding: 4% 25%;
  }
}


@media (max-width:56.875em){ /*910 px * ---- large tablet*/
   .grid-col-4of8-button {
    width: 100%;
   }

  .content-container {
    width: 100%;
    padding: 12% 10% !important;
  }

}


@media (max-width:50em){ /*800 px * ---- large tablet nav neeeds to be fixed  */

  /* Navigation button */
  .button-nav {
    font-size: 0.9rem;
  }

  .grid-col-2of8 {
    width: 50%;
  }

  .grid-col-2of8-list-view{
    width: 50% !important;
  }

/* CONTAINERS */
  .content-container {
    width: 100%;
    padding: 5% 15%;
  }

  .nav-container {
    width: 100%;
    text-align: center;
    padding: 0 5%;
  }

  .front-page-container {
    text-align: center;
    width: 100%;
    padding: 1% 10%;
  }

  .checkout-container {
    width: 100%;
    padding: 5% 30%;
  }

  header {
    background: url("http://www.sfu.ca/~mtsumura/landing-pg-800.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
  }

  .dropdown-filter {
    float: left;
  }

}


@media (max-width:37.5em){ /*600 px -- to fix nav items */

/* navigation styling */

  .nav-container {
    width: 100%;
    text-align: left !important;
    padding-bottom: 3em;
  }

  .hamburger-icon {
    top: 1.6em;
  }

  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: block;
  }

  .grid-col-4of8-button {
    width: 100% !important;
  }

  .content-container {
    width: 100%;
    padding: 5% 10% !important;
  }

  .hamburger-icon-wrapper {
    position: absolute;
    top: 0.3em;
    right: 2em;
    height: 26px;
    width: 26px;
    cursor: pointer;
  }

  .form-container {
    text-align: left;
    width: 100%;
    padding: 1% 20%;
  }

  .popup {
    margin: 6em auto;
    padding: 2em;
    background: #fff;
    border-radius: 5px;
    border: solid 1px lightgrey;
    width: 90%;
    position: relative;
    transition: all 5s ease-in-out;
    max-height: 80%;
    overflow: auto;
  }

}


@media (max-width:30em){ /*480 px -- to fix nav items */

  /* Secondary Navigation Button */
  .secondary-nav {
    font-size: 0.7em;
  }

  .grid-col-2of8 {
    width: 100%;
  }

  .grid-col-2of8-list-view{
  width: 100% !important;
  }

  .form-container {
    text-align: left;
    width: 100%;
    padding: 1% 15%;
  }

  .popup-image {
   width: 15em;
  }

}

@media (max-width:25em){ /*400 px -- large mobile */

   .grid-col-1of8{
      width: 100%;
   }

  .logo {
    display:block;
    max-width: 5em;
    margin-left: 0.5em;
    width: 100%;
  }

  /* navigation styling */
    .hamburgler-icon-wrapper {
      position: absolute;
      top: 0.6em !important;
      right: 2em;
      height: 26px;
      width: 26px;
      cursor: pointer
    }

  .hamburger-icon {
    top: 1.2em;
  }

  .checkout-container {
    width: 100%;
    padding: 5% 15%;
  }

  .form-container {
    text-align: left;
    width: 100%;
    padding: 1% 10%;
  }

  .dropdown {
    width: 100%;
  }
}



@media (max-width:21em){ /*320 px -- iphone5 */
  .content-container {
    width: 100%;
    padding: 25% 10% !important;
  }

  .popup {
    margin: 6em auto;
    padding: 2em;
    background: #fff;
    border-radius: 5px;
    border: solid 1px lightgrey;
    width: 100%;
    position: relative;
    transition: all 5s ease-in-out;
    max-height: 80%;
    overflow: auto;
  }
}
