/* ------------------------------------------------
  Stylesheet GRIDS for swirlpolishes.co
  Authors: Joanna Lin and Michaela Tsumura
------------------------------------------------- */

/*
======================================================
    TABLE OF CONTENTS
======================================================
  #. THE GRIDS STYLING
  #. MEDIA QUERIES
======================================================


/*
======================================================
  #. THE GRIDS STYLING
    We used an 8 column grid in our website
======================================================
*/

/* Sets everything to border-box sizing */
* {
  box-sizing: border-box;
}

[class ^= 'grid-col-'] {
  float: left;
}

/*8 column grid*/
.grid-col-1of8, .grid-col-2of8, .grid-col-3of8, .grid-col-4of8,
.grid-col-5of8, .grid-col-6of8, .grid-col-7of8 {
  width: 100%;
}

/*styling the containers*/
.content-container, .nav-container, .front-page-container, .content-container-center, .form-container, .form-container-short {
  padding: 1rem;
  max-width: 100%;
}

.content-container-citations {
  padding: 2rem;
  max-width: 100%;
}

.container .block {
  height: 15rem;
}

/*Style Guide Grid Styling*/
.container .block:nth-of-type(even) {
  background-color: rgba(40,44,56, 0.2);
}
.container .block:nth-of-type(odd) {
  background-color: rgba(70,74,86, 0.2);
}

/*Gutter*/
[class*='col-'] {
  padding-right: 0;
}

/*clears floats after each grid row*/
.grid-row::after {
  content: "";
  display: block;
  clear: both;
}


/*
======================================================
  #. MEDIA QUERIES
======================================================
*/

/* LAPTOP SIZE AND LARGER - If the width is greater than 43.75 em then style the grid like this */
@media (min-width: 43.75em) {
  /* 8 Column Grid styling */
  /*  half column used only in navigation for icon elements */
  .grid-col-1hof8 {
    width: 6.25%;
  }

  .grid-col-1of8 {
    width: 12.5%;
  }

  .grid-col-2of8 {
    width: 25%;
  }

  .grid-col-2of8-list-view{
  width: 25%;
  }

  .grid-col-3of8 {
    width: 37.5%;
  }

  .grid-col-3of8-last{
    width: 37.5%;
    margin-left: 2em;
  }

  .grid-col-4of8 {
    width: 50%;
  }

  .grid-col-5of8 {
    width: 62.5%;
  }

  .grid-col-6of8 {
    width: 75%;
  }

  .grid-col-7of8 {
    width: 87.5%;
  }

  .grid-col-8of8 {
    width: 100%;
  }

  /*styling containers*/
  .content-container {
    width: 100%;
    padding: 8% 15%;
  }

  /*styling containers*/
  .content-container-short {
    width: 100%;
    padding: 1% 15% 10% 15%;
  }

  .nav-container {
    width: 100%;
    text-align: center;
    padding: 0 5%;
  }

  .front-page-container {
    text-align: center;
    width: 100%;
    padding: 6% 30%;
  }

  .form-container {
    width: 100%;
    padding: 4% 35%;
  }

  .checkout-container {
    width: 100%;
    padding: 8% 25%;
  }

  .styleguide-container {
    width: 100%;
    padding-right: 35%;
  }

  /*Gutters styling*/
  [class*='col-'] {
    padding-right: 0.5em;
    padding-left: 0.5em;
  }

  .remove-gutter {
    padding-left: 0 !important;
  }

  /*toggle nav icon visibility*/
  .mobile-show {
    display: none;
  }

}

/*---------------------------------------------------------------------------------------*/
/*Large Monitors starting around 1600px width*/
@media (min-width: 100em) {
  .styleguide-container {
    width: 100%;
    padding-right: 50%;
  }
}

/* SMALLER THAN LAPTOP SIZE - If the width is less than 43.74 em then style the grid like this */
@media (max-width:43.74em){
  .grid-col-1hof8 {
    width: 30%;
    margin-right: 1em
  }

  .grid-col-8of8 {
    width: 100%;
  }

  /*styling containers*/
  .content-container {
    width: 100%;
    padding: 18% 10% !important;
  }

  .form-container {
    text-align: left;
    width: 100%;
    padding: 8% 15%;
  }

  .fit-product{
    margin-bottom: 1em;
    width: 50%;
  }

  /*footer Styling*/
  .contact-us {
    text-align: center !important;
  }

  .footer {
    text-align: center;
    padding-bottom: 2em;
  }

  .text-left {
    text-align: center;
  }

  .text-right {
    text-align: center;
  }

  .mobile-show {
    display: none;
  }

  /*adjusting the font size on the landing page*/
  .landing-header {
    font-size: 2rem;
  }

  .banner {
    margin-top: 25px !important;
  }
}

/*---------------------------------------------------------------------------------------*/

/* SMALLER THAN 1500px - If the width is less than 93.75em then style the grid like this */
@media (max-width:93.75em){ /*1500 px */
  /*Styling small popups*/
  .popup-small {
    width: 30%;
  }
}


/*---------------------------------------------------------------------------------------*/

/* SMALLER THAN 1300px - If the width is less than 81.25em then style the grid like this */
@media (max-width:81.25em){ /*1300 px */
  /* replace background image on landing page */
  header {
    background: url("http://www.sfu.ca/~mtsumura/bg-1300.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
  }

  /*Styling small popups*/
  .popup-small {
    width: 40%;
  }
}


/*---------------------------------------------------------------------------------------*/

/* SMALLER THAN 1121px - If the width is less than 70em then style the grid like this */
@media (max-width:70em){ /*1121 px - ipad landscape - laptop-ish */
  .grid-col-2of8-list-view{
    width: 33.3333%;
  }

  /* Main Heading Styling h1 elements */
  .main-heading {
    max-width: 100%;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    letter-spacing: 0.02rem;
    padding-bottom: 0.3em;
    font-size: 2em;
  }
}


/*---------------------------------------------------------------------------------------*/

/* SMALLER THAN 1048px - If the width is less than 64em then style the grid like this */
@media screen and (max-width: 64em){ /*1048 px - ipad landscape - laptop-ish*/
  /*new background image for landing page on 1024px screens */
  header {
    background: url("http://www.sfu.ca/~mtsumura/landing-pg-1024.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 120vh;
  }

  /*container styling*/
  .nav-container {
    width: 100%;
    text-align: center !important;
    padding-bottom: 1em;
  }

  .popup{
    width: 80%;
  }

  .form-container {
    text-align: left;
    width: 100%;
    padding: 4% 25%;
  }

  .banner {
    background-color: #f7f7f7;
    padding: 0.5em 2em;
    color: white;
    height:auto;
    margin-top: -20px;
    margin-bottom: 1em;
  }

}

/*---------------------------------------------------------------------------------------*/

/* SMALLER THAN 800px - If the width is less than 50em then style the grid like this */
@media (max-width:50em){ /*800 px */
  /*new background image for 800px screen width*/
  header {
    background: url("http://www.sfu.ca/~mtsumura/landing-pg-800.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
  }

  /* Navigation button */
  .button-nav {
    font-size: 0.9rem;
  }

  .grid-col-2of8 {
    width: 50%;
    padding: 0.25em;
  }

  .grid-col-3of8 {
    width: 35%;
    padding-right: 0.25em;
  }

  .grid-col-5of8 {
    width: 65%;
  }

  .grid-col-6of8 {
    width: 100%;
  }

  .cart-image {
    width: 90%;
  }


  .dropdown-filter {
    float: left;
  }

  /*styling small popups*/
  .popup-small {
    padding: 1em 2em 2em 2em;
    width: 60%;
  }


  /* CONTAINERS styling*/
  .content-container, .checkout-container {
    width: 100%;
    padding: 5%;
  }

  .nav-container {
    width: 100%;
    text-align: center;
    padding: 0 5%;
  }

  .front-page-container {
    text-align: center;
    width: 100%;
    padding: 6% 15%;
  }

  .form-container {
    padding: 6% 15%;
  }

}


/*---------------------------------------------------------------------------------------*/

/* SMALLER THAN 600px - If the width is less than 37.5em then style the grid like this */
@media (max-width:37.5em){ /*600 px */

/* navigation styling */

  .nav-container {
    width: 100%;
    text-align: left !important;
    padding-bottom: 3em;
  }

  .hamburger-icon {
    top: 1.6em;
  }

  /*toggle navigation icons on mobile screen size*/
  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: block;
  }

  .hamburger-icon-wrapper {
    position: absolute;
    top: 0.3em;
    right: 2em;
    height: 26px;
    width: 26px;
    cursor: pointer;
  }

  /*container styling*/
  .content-container {
    width: 100%;
    padding: 5% 10% !important;
  }

  .form-container {
    text-align: left;
    width: 100%;
    padding: 1% 20%;
  }

  .popup {
    margin: 6em auto;
    padding: 2em;
    background: #fff;
    border-radius: 5px;
    border: solid 1px lightgrey;
    width: 90%;
    position: relative;
    transition: all 5s ease-in-out;
    max-height: 80%;
    overflow: auto;
  }

  .popup-small {
    width: 80%;
  }

  .background {
    padding: 0;
  }

  .grid-col-3of8 {
    width: 100%;
  }

  .checkout-container {
    padding: 5% 8%;
  }

  .banner {
    margin-top: 15px !important;
  }

  .mobile {
    display: block;
  }

}

/*---------------------------------------------------------------------------------------*/

/* SMALLER THAN 480px - If the width is less than 30em then style the grid like this */
@media (max-width:30em){ /*480 px -- to fix nav items iPhone6/7Plus*/

  /* Secondary Navigation Button */
  .secondary-nav {
    font-size: 0.7em;
  }

  .grid-col-2of8 {
    width: 100%;
  }

  .grid-col-5of8 {
    width: 100%;
  }

  /*container styling*/
  .form-container {
    text-align: left;
    width: 100%;
    padding: 10%;
  }

  .front-page-container {
    padding: 5% 10%;
  }

  .content-container-short {
    padding: 10% 9%;
  }

  /*resize popup image on large mobile screen*/
  .popup-image {
   width: 15em;
  }

  /* Color Picker */
  .swatch {
    width: 100%;
  }
}

/*---------------------------------------------------------------------------------------*/

/* SMALLER THAN 400px - If the width is less than 25em then style the grid like this */
@media (max-width:25em){ /*400 px -- large mobile */

  /*replacing with a mobile size background image*/
  header {
    background: url("http://www.sfu.ca/~mtsumura/bg-iphone6.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
  }

  /*resize logo on mobile*/
  .logo {
    display:block;
    max-width: 5em;
    margin-left: 0.5em;
    width: 100%;
  }

  /* navigation styling */
  .hamburger-icon-wrapper {
    position: absolute;
    top: 0.6em !important;
    right: 2em;
    height: 26px;
    width: 26px;
    cursor: pointer
  }

  .hamburger-icon {
    top: 1.2em;
  }

  .form-container {
    text-align: left;
    width: 100%;
    padding: 5% 10%;
  }

  /*popup image styling*/
  .popup-image{
    width: 80%;
  }

  /*Styling product information for mobile screens*/
  .product-name {
    font-size: 1.2em;
  }

  .dropdown {
    width: 100%;
  }

  .product-subhead {
    font-size: 1em;
  }

  .paragraph-primary {
    font-size: 0.85em;
  }

  .secondary-heading {
    font-size: 1.5em;
    padding-top: 1em;
  }

  .button-margin-top {
    margin-top: 1em;
  }

  .banner {
    margin-top: 8px !important;
  }
}


/*---------------------------------------------------------------------------------------*/

/* SMALLER THAN 320px - If the width is less than 21em then style the grid like this */
@media (max-width:21em){ /*320 px -- iphone5 */
  /*optimize the popup for small mobile screens*/
  .popup {
    margin: 5em auto;
    padding: 1em;
    background: #fff;
    border-radius: 5px;
    border: solid 1px lightgrey;
    width: 90%;
    position: relative;
    transition: all 5s ease-in-out;
    max-height: 80%;
    overflow: auto;
  }
}
