/* ------------------------------------------------
  Stylesheet for swirlpolishes.co
  Authors: Joanna Lin and Michaela Tsumura
------------------------------------------------- */

/*
======================================================
    TABLE OF CONTENTS
======================================================
	#. DEFAULT STYLING
  #. MAIN NAVIGATION
  #. INTERACTIVE ELEMENTS
  #. TEXT ELEMENTS
  #. COMBINED ELEMENTS + COMPONENTS
  #. FRONT PAGE STYLING
  #. MIX PAGE STYLING
  #. CART PAGE STYLING
  #. PROFILE PAGE STYLING
  #. SELL MIX PAGE STYLING
*/

/*
======================================================
  #. DEFAULT STYLING
    Default styling for styleguide and website
======================================================
*/

/* Sets everything to border-box sizing */
* {
  box-sizing: border-box;
}

/* Takes away any built-in browser spacing */
html {
  height: 100%;
}

/* Default font-family is Muli */
body {
  font-family: 'Muli', Helvetica, sans-serif;
  color: #000000;
  min-height: 100%;
  width: 100%;
}

/* Sets margins top and bottom for sections */
section {
  margin: 1em 0;
}

/* Adds a border for any sections without id's */
section:not([id]) {
  padding: 2em 0;
  border-top: 1px solid #e8e8e8;
}

/* Adds spacing to styleguide code*/
section code {
  display: inline-block;
  background-color: #EEE;
  padding: 2em;
  margin: 0.5em 3em 0 0;
  border-radius: 0.25em;
  font-size: 0.8em;
  line-height: 1.4em;
}

/*Default link styling */
a {
  text-decoration: none;
  color: #3D4656; /*Dark Blue*/
}

a:hover, a:focus {
  color: #C19A97; /*Light Pink*/
  text-decoration: underline;
}

/* Makes images scale down and responsive */
img {
  max-width: 100%;
}

/* padding for styleguide template only*/
.styleguide {
  padding: 5rem 3rem 1rem 3rem;
}

/* Default Headings */
h2 {
  color:#000000;
  padding: 0.5rem 0 0.25rem 0;
}

section h3 {
  color: #3D4656;
  margin-bottom: 0;
  padding-bottom: 0.35rem;
}

/* Paragraph Styling*/
p {
  margin: 0;
}

section p {
  margin-top: 0;
}

label {
  padding-right: 0.5em;
}

/*
======================================================
  #. MAIN NAVIGATION
    Styling for main navigation
======================================================
*/

/* Main Navigation */
.main-nav {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 8px #f7f7f7;
  padding: 0.5em 1em;
  list-style: none;
}

/* Main Navigation */
.styleguide-main-nav {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 8px #f7f7f7;
  padding: 0.5em 1em;
  list-style: none;
}

/*Main Navigation */
.background {
  padding:2em 0;
}

/* Profile Icon */
.profile {
  max-width: 30px;
  padding-right:0.3em;
  margin-right: 0.75em;
}

/* Search Bar*/
.search {
  max-width: 25px;
}

/*
======================================================
  #. INTERACTIVE ELEMENTS
    Styleguide interactive elements
======================================================
*/

/* Main Navigation Button */
.button-nav {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: #3D4656; /*Dark Blue*/
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.button-nav:hover, .button-nav:focus {
  color: #C19A97; /*Light Pink*/
  text-decoration: none;
}

/* Padding for button-nav*/
.nav-padding {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Vertical centering from https://css-tricks.com/centering-css-complete-guide/ */


/* Secondary Navigation Button */
.secondary-nav {
  font-size: 0.9em;
}

/* In-text link */
.intext-links {
  text-decoration: none;
  color: #C19A97; /*Light Pink*/
  font-weight: 700;
  display: inherit;
}

.intext-links:hover, .intext-links:focus {
  color: #3D4656; /*Dark Blue*/
}

/* --------- BUTTONS -----------*/
/* Primary Button */
.button-primary {
  padding: 0.8em 1.3em;
  background-color: #C19A97; /*Light Pink*/
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 0.1em;
  font-weight: 700;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  margin: 0.2em 0 0.4em 0;
  width: 100%;
  text-align: center;
}

.button-primary:hover, .button-primary:focus {
  background-color: #DDD;
  color: #000;
  text-decoration: none;
}

/* Primary Button Half Width? */
.button-primary-half {
  margin-top: 2em;
  padding: 0.8em 2em;
  background-color: #C19A97; /*Light Pink*/
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-weight: 700;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  text-align: center;
}

.button-primary-half:hover, .button-primary-half:focus {
  background-color: #DDD;
  color: #000;
  text-decoration: none;
}

/* Secondary Button */
.button-secondary {
  padding: 0.8em 1.3em;
  display: inline-block;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #DDD;
  color: #3D4656; /*Dark Blue*/
  font-weight: 700;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  margin: 0.2em 0 0.4em 0;
  width: 100%;
  text-align: center;
}

.button-secondary:hover, .button-secondary:focus {
  background-color: #C19A97; /*Light Pink*/
  color: #FFF;
  text-decoration: none;
}

/* Secondary Button Half Width?*/
.button-secondary-half {
  padding: 0.8em 2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #DDD;
  color: #3D4656; /*Dark Blue*/
  font-weight: 700;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  margin: 0.2em 0 0.4em 0; /*T R B L*/
  text-align: center;
}

.button-secondary-half:hover, .button-secondary-half:focus {
  background-color: #C19A97; /*Light Pink*/
  color: #FFF;
  text-decoration: none;
}

.button-disabled {
  padding: 0.8em 1.3em;
  display: inline-block;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #3D4656; /*Dark Blue*/
  font-weight: 700;
  border-radius: 0.25em;
  border: solid 1px #ddd;
  margin: 0.2em 0 0.4em 0;
  width: 100%;
  text-align: center;
}


/* --------- FORM FIELDS -----------*/
/* Searchfield */
.searchfield {
  padding: 0.6em 0.8em;
  border-radius: 0.25em;
  border: solid lightgrey 1px;
  width: 100%;
  font-family: "Muli", Arial, sans-serif;
  font-size: 0.9rem;
}

/* Form field for sign in/up and checkout pages */
.formfield {
  max-width: 25em;
  margin: 0 auto;
  padding: 0.6em 0.8em;
  border-radius: 0.25em;
  border: solid lightgrey 0.1em;
  width: 100%;
  font-family: "Muli", Arial, sans-serif;
  font-size: 0.9rem;
  margin-bottom: 1.5em;
}

/* Dropdown for multiple add-in's and custom options */
.dropdown {
  padding: 1.2em;
  border-radius: 0.25em;
  width: 60%;
  font-size: 1em;
  letter-spacing: 0.05em;
  margin-bottom: 1em;
} /*source:http://www.w3schools.com/tags/tag_select.asp*/

/* Drop down filter */
.dropdown-filter {
  border-radius: 0.25em;
  padding: 0.5em;
  font-size: 0.9em;
}

/* Slider Bar */
.slider {
  width: 100%;
}

/* SOCIAL MEDIA ICONS */
.social-icon {
	width: 3rem;
	height: auto;
  border-radius: 5em;
}

/* Colour Picker */
.colour-picker:hover, .colour-picker:focus {
  cursor: crosshair;
}/* source: http://www.w3schools.com/cssref/pr_class_cursor.asp */


/*
======================================================
  #. TEXT ELEMENTS
    Styleguide text elements
======================================================
*/
/* --------- HEADINGS -----------*/
/* Main Heading Styling h1 elements */
.main-heading {
  max-width: 100%;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.02rem;
  padding-bottom: 0.3em;
  font-size: 2.5em;
}

/* Product Name h2 elements */
.product-name {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 1.5em;
}

/* Product Subheading h3 elements */
.product-subhead {
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
}

/* Secondary heading for confirmation pages h2 */
.secondary-heading {
  font-size: 2.2rem;
  margin: 0 0 0.5rem 0;
}

/* Call to Action Text on Front Page */
.landing-header {
  font-size: 3rem;
}


.payment-headers {
  display:block;
  max-width: 25em;
  margin: 0 auto;
  padding: 0.6em 1.2em;
  width: 100%;
  text-align: left;
  font-family: "Muli", Arial, sans-serif;
  font-size: 0.9rem;
  margin-bottom: 1.5em;
}

.field-header{
	margin-bottom: 0.5em;
	font-weight: 400;
  font-size: 1em;
}

.field-header-center{
  margin-bottom: 0.75em;
  font-weight: 400;
  /*text-align: center;*/
}

.selected-header {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 0.3em;
}

/* --------- PARAGRAPHS -----------*/
/* Primary paragraph style */
.paragraph-primary {
  font-size: 1em;
  max-width: 100%;
  margin: 0.3em 0 1em 0;
}

/* Secondary Paragraph for cart page */
.cart-description {
	font-size: 0.8em;
	font-weight: 400;
}

/* Styles the product prices */
.price {
	font-family: 'Arvo', Times, serif;
	font-weight: 700;
  text-transform: uppercase;
	color: #465166;
	margin-top: 0.3em;
  margin-bottom: 1em;
  font-size:1em;
}

/* Lists were only used in our styleguide, maybe we can remove this*/
.lists {
  margin-top: 0.5em;
  line-height: 1.5rem;
}

.half-field {
  display:inline-block;
  max-width: 5em;
  margin: 0 auto;
  padding: 0.6em 0.8em;
  border-radius: 0.25em;
  border: solid lightgrey 0.1em;
  width: 100%;
  font-family: "Muli", Arial, sans-serif;
  font-size: 0.9rem;
  margin-bottom: 1.5em;
}

.order-summary {
	margin-bottom: 1.3em;
	font-weight: 300;

}

/* end of styling the TEXT ELEMENTS*/


/*
======================================================
  #. COMBINED ELEMENTS + COMPONENTS
    Styleguide Combined Elements
======================================================
*/

/*
  Product listing Image Style
  Adds a border around the image and more spacing
*/

.fit-product {
  padding: 1em;
  border: solid lightgrey 0.1em;
}

/* --------- COLOUR SCHEME -----------*/
/*Intended colour scheme for the website */
.swatch1 {
  background-color: #AD7C83; /*Dark pink*/
  color: white;
  text-align: center;
  padding: 1rem;
}

.swatch2 {
  background-color: rgba(173, 124, 131, 0.4); /* Light Pink */
  color: #3D4656;
  text-align: center;
  padding: 1rem;
}

.swatch3 {
  background-color: #3D4656; /* Navy BLue */
  color: white;
  text-align: center;
  padding: 1rem;
}

.swatch4 {
  background-color: black; /* Black */
  color: white;
  text-align: center;
  padding: 1rem;
}

/* --------- PRODUCT LISTING: BROWSE + SHOP PAGES -----------*/
/* Default product view for browse and shop pages */
.product-list-view {
  padding: 1em;
  border: solid 1px #D3D3D3;
}

/* Spacing after grid-row (browse and shop pages) */
.grid-row-spacing {
  margin: 2rem 0;
}

/* --------- FOOTER -----------*/
.footer{
	background-color: rgba(173, 124, 131, 0.4); /*Light Pink 40%*/
	padding: 1.5em 1em 1.5em 3em; /*T R B L*/
	color: white;
  height: 4.5rem;
  text-align: left;
}

/*http://stackoverflow.com/questions/12239166/footer-at-bottom-of-page-or-content-whichever-is-lower*/
/*.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 4rem;
}*/

footer, .push {
    height: 4rem; /* .push must be the same height as .footer */
}


/* Have to re-organize the rest of this and add it to the styleguide */
/* Places a border around the cart image */
.cart-image {
	border: solid lightgrey 1px;
}

/* grey divider at the bottom of each order */
.divider {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: solid lightgrey 1px;
}

/*General Alignment styling*/
.float-right {
	float: right;
}

.text-right {
  text-align: right;
}

.center-align{
  text-align: center;
}

.right-align{
  margin-left: auto;
}

.left-align{
  text-align: left;
}


/*
======================================================
  #. FRONT PAGE STYLING
    Styling for index.html
======================================================
*/

/* Background image for header */
header {
  background: url("http://www.sfu.ca/~mtsumura/landingpg-bg.jpg") no-repeat center center fixed;
  /*Images collaged from:
  Top Left:
  Polish Brush: https://thumbs.dreamstime.com/z/pink-nail-polish-brush-white-background-56773613.jpg
  Pink Polish Splosh: https://s-media-cache-ak0.pinimg.com/236x/9f/b3/f2/9fb3f2fe46e3511c416f268ba7b5ebf7.jpg
  Pink Polish Splosh 2: http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=101284877

  Top Right:
  Gold Glitter Pile: http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=3522079
  Gold Powder Pile: https://paintpearls.com/wp-content/uploads/2015/04/Aztec-Gold-Pile.png

  Bottom Left:
  Blue Polish Spots: https://thumbs.dreamstime.com/x/blots-blue-nail-polish-isolated-white-background-40947032.jpg
  Multi-Coloured Glitter Pile: http://www.vampyvarnish.com/wp-content/uploads/2014/03/Urban-Decay-Heavy-Metal-Loose-Glitter-4.jpg

  Bottom Right:
  Gold Polish: http://images.freeimages.com/images/premium/previews/5119/51193638-splash-of-nail-polish.jpg
  */

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh; /* viewport height */
}


/*
======================================================
  #. PROFILE PAGE STYLING
======================================================
*/

/* Rounded corners for profile image */
.profile-image {
  border-radius: 1em;
  max-width: 12rem;
}

/* Profile Name */
.name {
  margin-top: 2em;
  font-weight: 500;
  font-size: 1.2rem;
}

/* Profile text information */
.profile-info {
  text-align: left;
  width: 90%;
  line-height: 1.3em;
  margin-bottom: 1em;

}

.edit {
  color: #C19A97;
  text-align: right;
}


/*
======================================================
  #. SELL MIX PAGE STYLING
======================================================
*/
.price-field {
  width: 30%;
  margin-bottom: 0.5em;
  padding: 0.6em 0.8em;
  border-radius: 0.25em;
  border: solid lightgrey 1px;
  font-size: 0.9rem;
  font-family: "Muli", Arial, sans-serif;
}

.text-description-area {
  margin-bottom: 0.5em;
  padding: 0.6em 0.8em;
  border-radius: 0.25em;
  border: solid lightgrey 1px;
  width: 100%;
  font-size: 0.9rem;
  font-family: "Muli", Arial, sans-serif;
  line-height: 1.3em;
}


.center-buttons {
  display:block;
  max-width: 25em;
  margin: 0 auto;
  padding-top: 1em;
  width: 100%;
}


/*
GENERAL STYLING
*/
.button-margin-top {
  margin-top: 2em;
}

.link-margin {
  margin: 1em 0;
}

.checkbox {
  margin-right: 0.5em;
  margin-bottom: 1em;
}

.checkbox-description {
  margin: 0 auto;
}

.colour-picker-description {
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}

.swatch {
  width: 50%;
  height: 5em;
  margin-bottom: 1em;
}

.contact-us {
  color: white;
}

.contact-us:hover {
  color: #465166;
}

.new-section{
  margin-top: 2em;
}




/*
======================================================
  #. HAMBURGER NAVIGATION HEADER STYLING
======================================================
*/

/*Modified hamburger menu code retrieved from http://johnm.io/project/hamburgler/*/

.hamburger-icon-wrapper {
  position: absolute;
  top: 1em;
  right: 2em;
  height: 26px;
  width: 26px;
  cursor: pointer
}

.hamburger-icon,
.hamburger-icon:before,
.hamburger-icon:after {
  content: '';
  position: absolute;
  border-radius: 1em;
  height: 2px;
  width: 26px;
  background: #3D4656;
  transition: all 0.2s ease
}

.hamburger-icon {
  top: 1em;
}

.hamburger-icon:before {
  top: -0.55em
}

.hamburger-icon:after {
  top: 0.55em
}

.hamburger-active .hamburger-icon {
  background: transparent;
  transform: rotate(-135deg)
}

.hamburger-active .hamburger-icon:before,
.hamburger-active .hamburger-icon:after {
  top: 0
}

.hamburger-active .hamburger-icon:before {
  transform: rotate(90deg)
}

.hamburger-active .hamburger-icon,
.hamburger-active .hamburger-icon:before,
.hamburger-active .hamburger-icon:after {
  background: black;
}

.hamburger-menu {
  transition: all 0.4s ease;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255, 0.95);
  color: #3D4656;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  line-height: 2.5em;
  text-align: center
}

.hamburger-item:hover, .hamburger-item:focus {
  color: #C19A97;
}

.hamburger-active .hamburger-menu {
  opacity: 1;
  pointer-events: initial;
}

.hamburger-menu-list {
  display: block;
  transition: all 0.4s ease;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2)
}

.hamburger-active .hamburger-menu-list {
  transform: translate(-50%, -50%) scale(1)
}

/*End of modified hamburger menu code retrieved from http://johnm.io/project/hamburgler/*/
