/* ------------------------------------------------
  Stylesheet for swirlpolishesco.com
  Authors: Joanna Lin and Michaela Tsumura
------------------------------------------------- */

/*
======================================================
    TABLE OF CONTENTS
======================================================
	#. DEFAULT STYLING
  #. MAIN NAVIGATION
  #. INTERACTIVE ELEMENTS
  #. TEXT ELEMENTS
  #. COMBINED ELEMENTS + COMPONENTS
  #. FRONT PAGE STYLING
  #. MIX PAGE STYLING
  #. CART PAGE STYLING
  #. PROFILE PAGE STYLING
  #. SELL MIX PAGE STYLING
*/

/*
======================================================
  #. DEFAULT STYLING
    Default styling for styleguide and website
======================================================
*/

/* Sets everything to border-box sizing */
* {
  box-sizing: border-box;
}

/* Takes away any built-in browser spacing */
html {
  height: 100%;
}

/* Default font-family is Muli */
body {
  font-family: 'Muli', Helvetica, sans-serif;
  color: #000000;
  min-height: 100%;
  width: 100%;
}

/* Sets margins top and bottom for sections */
section {
  margin: 1em 0;
}

/* Adds a border for any sections without id's */
section:not([id]) {
  margin: 3em 0;
  padding: 2em 0;
  border-top: 1px solid #e8e8e8;
}

/* Adds spacing to styleguide code*/
section code {
  display: inline-block;
  background-color: #EEE;
  padding: 2em;
  margin: 0.5em 3em 0 0;
  border-radius: 0.25em;
  font-size: 0.8em;
  line-height: 1.4em;
}

/*Default link styling */
a {
  text-decoration: none;
  color: #3D4656; /*Dark Blue*/
}

a:hover, a:focus {
  color: #C19A97; /*Light Pink*/
  text-decoration: underline;
}

img {
  max-width: 100%;
}

/* padding for styleguide template only*/
.styleguide {
  padding: 1rem 3rem;
}

/* Default Headings */
h2 {
  color:#000000;
  padding: 0.5rem 0 0.25rem 0;
}

section h3 {
  color: #3D4656;
  margin-bottom: 0;
  padding-bottom: 0.35rem;
}

/* Paragraph Styling*/
p {
  margin: 0;
}

section p {
  margin-top: 0;
}

/*
======================================================
  #. MAIN NAVIGATION
    Styling for main navigation
======================================================
*/

/* Main Navigation */
.main-nav {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 8px #f7f7f7;
  padding: 0.5em 1em;
  list-style: none;
}

/* Call to Action Text */
.landing-header {
  font-size: 3rem;
}

/* Profile Icon */
.profile {
  max-width: 30px;
}

/* Search Bar*/
.search {
  max-width: 25px;
}

/*
======================================================
  #. INTERACTIVE ELEMENTS
    Styleguide interactive elements
======================================================
*/

/* Main Navigation Button */
.button-nav {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: #3D4656; /*Dark Blue*/
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.button-nav:hover, .button-nav:focus {
  color: #C19A97; /*Light Pink*/
  text-decoration: none;
}

/* Padding for button-nav*/
.nav-padding {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Vertical centering from https://css-tricks.com/centering-css-complete-guide/ */


/* Secondary Navigation Button */
.secondary-nav {
  font-size: 0.9em;
}

/* In-text link */
.intext-links {
  text-decoration: none;
  color: #C19A97; /*Light Pink*/
  font-weight: 700;
  display: inherit;
}

.intext-links:hover, .intext-links:focus {
  color: #3D4656; /*Dark Blue*/
}

/* Buttons */
/* Primary Button */
.button-primary {
  padding: 0.8em 1.3em;
  background-color: #C19A97; /*Light Pink*/
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 0.1em;
  font-weight: 700;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  margin: 0.2em 0 0.4em 0;
  width: 100%;
  text-align: center;
}

/* Primary Button */
.button-primary-half {
  padding: 0.8em 2em;
  background-color: #C19A97; /*Light Pink*/
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-weight: 700;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  margin: 0.2em 0 0.4em 1em; /*T R B L*/
  text-align: center;
}


.button-primary:hover, .button-primary:focus {
  background-color: #DDD;
  color: #000;
  text-decoration: none;
}

.button-primary-half:hover, .button-primary-half:focus {
  background-color: #DDD;
  color: #000;
  text-decoration: none;
}

/* Secondary Button */
.button-secondary {
  padding: 0.8em 1.3em;
  display: inline-block;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #DDD;
  color: #3D4656; /*Dark Blue*/
  font-weight: 700;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  margin: 0.2em 0 0.4em 0;
  width: 100%;
  text-align: center;
}

/* Secondary Button */
.button-secondary-half {
  padding: 0.8em 2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #DDD;
  color: #3D4656; /*Dark Blue*/
  font-weight: 700;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  margin: 0.2em 0 0.4em 0; /*T R B L*/
  text-align: center;
}

.button-secondary:hover, .button-secondary:focus {
  background-color: #C19A97; /*Light Pink*/
  color: #FFF;
  text-decoration: none;
}

.button-secondary-half:hover, .button-secondary-half:focus {
  background-color: #C19A97; /*Light Pink*/
  color: #FFF;
  text-decoration: none;
}

/* Secondary Button */
.button-disabled {
  padding: 0.8em 1.3em;
  display: inline-block;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #3D4656; /*Dark Blue*/
  font-weight: 700;
  border-radius: 0.25em;
  border: solid 1px #ddd;
  margin: 0.2em 0 0.4em 0;
  width: 100%;
  text-align: center;
}

/* Text Field and Label */
.searchfield {
  padding: 0.6em 0.8em;
  border-radius: 0.25em;
  border: solid lightgrey 1px;
  width: 100%;
  font-family: "Muli", Arial, sans-serif;
  font-size: 0.9rem;
}

label {
    padding-right: 0.5em;
}

/*
======================================================
  #. TEXT ELEMENTS
    Styleguide text elements
======================================================
*/

/* Main Heading Styling h1 elements */
.main-heading {
  max-width: 100%;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.02rem;
  padding-bottom: 0.3em;
  font-size: 2.5em;
}

/* Product Name h2 elements */
.product-name {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 1.5em;
}

/* Product Subheading h3 elements */
.product-subhead {
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
}

/* Secondary heading for confirmation pages */
.secondary-heading {
  font-size: 2.2rem;
  margin: 0 0 0.5rem 0;
}

/* Paragraph styling for production description */
.content-description {
  margin-bottom: 1em;
}

/*
  Rest, not sure and also needs to be added to the styleguide
  We should also see if we can reduce down any redundant code
*/
.product-description {
  max-width: 100%;
  font-size: 1em;
}

.page-description {
  margin-top: 0.3em;
  padding-bottom: 2em;
}

.polish-name {
  margin-bottom: 0;
}

.polish-name-noprice {
  margin-bottom: 1em;
}

.lists {
  margin-top: 0.5em;
  line-height: 1.5rem;
}

.price {
	font-family: 'Arvo', Times, serif;
	font-weight: 700;
  text-transform: uppercase;
	color: #465166;
	margin-top: 0.3em;
  margin-bottom: 1em;
  font-size:1em;
}
/* end of styling the TEXT ELEMENTS*/


/*
======================================================
  #. COMBINED ELEMENTS + COMPONENTS
    Styleguide Combined Elements
======================================================
*/

/* Product listing styles */
.fit-product {
  padding: 1em;
  max-width: 100%;
  max-height: auto;
  border: solid lightgrey 0.1em;
}

/*COLOUR SCHEME*/
/*Intended colour scheme for the website */
.swatch1 {
  background-color: #AD7C83; /*Dark pink*/
  color: white;
  text-align: center;
  padding: 1rem;
}

.swatch2 {
  background-color: rgba(173, 124, 131, 0.4); /* Light Pink */
  color: #3D4656;
  text-align: center;
  padding: 1rem;
}

.swatch3 {
  background-color: #3D4656; /* Navy BLue */
  color: white;
  text-align: center;
  padding: 1rem;
}

.swatch4 {
  background-color: black; /* Black */
  color: white;
  text-align: center;
  padding: 1rem;
}

/*PRODUCT LISTING*/
/* Default product view for browse and shop pages */
.product-list-view {
	width: 100%;
  padding: 1em;
}

/* Additional spacing at the top */
.product-list-view-margin-top {
  width: 100%;
  padding: 1em;
  margin-top: 3em;
}

/* Spacing after each row? */
.product-row-list {
  padding-top: 5rem;
}

/*FOOTER*/
.footer{
	background-color: rgba(173, 124, 131, 0.4); /*Light Pink 40%*/
	padding: 1.5em 1em 1.5em 3em; /*T R B L*/
	color: white;
  height: 4rem;
  text-align: left;
}

/* Attempting to fix footer to the bottom of the page */
.short-page { /*Making the footer fixed at the bottom of pages with less content*/
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

/*http://stackoverflow.com/questions/12239166/footer-at-bottom-of-page-or-content-whichever-is-lower*/
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 4rem; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
    height: 4rem; /* .push must be the same height as .footer */
}

/* SOCIAL MEDIA ICONS */
.social-icon {
	width: 3rem;
	height: auto;
  border-radius: 5em;
}

/* Colour Picker */
.colour-picker:hover, .colour-picker:focus {
  cursor: crosshair;
}/* source: http://www.w3schools.com/cssref/pr_class_cursor.asp */

/* Drop Down */
.dropdown {
  padding: 1.2em;
  border-radius: 0.25em;
  width: 60%;
  font-size: 1em;
  letter-spacing: 0.05em;
  margin-bottom: 1em;
} /*source:http://www.w3schools.com/tags/tag_select.asp*/


/* Slider Bar */
.slider {
  width: 100%;
}


/* Have to re-organize the rest of this and add it to the styleguide */
.cart-image {
	border: solid lightgrey 1px;
}

.cart-description {
	font-size: 0.8em;
	font-weight: 400;
}

.divider {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: solid lightgrey 1px;
}

.payment-fields {
  display:block;
  max-width: 25em;
  margin: 0 auto;
  padding: 0.6em 0.8em;
  border-radius: 0.25em;
  border: solid lightgrey 0.1em;
  width: 100%;
  font-family: "Muli", Arial, sans-serif;
  font-size: 0.9rem;
  margin-bottom: 1.5em;
}

.payment-fields-2 {
  display:block;
  max-width: 17.5em;
  margin: 0 auto;
  padding: 0.6em 0.8em;
  border-radius: 0.25em;
  border: solid lightgrey 0.1em;
  width: 50%;
  font-family: "Muli", Arial, sans-serif;
  font-size: 0.9rem;
  margin-bottom: 1.5em;
}

.payment-fields-3 {
  padding: 0.6em 0.8em;
  border-radius: 0.25em;
  border: solid lightgrey 0.1em;
  font-family: "Muli", Arial, sans-serif;
  font-size: 0.9rem;
  margin-bottom: 1.5em;
}

.payment-headers {
  display:block;
  max-width: 25em;
  margin: 0 auto;
  padding: 0.6em 1.2em;
  width: 100%;
  text-align: left;
  font-family: "Muli", Arial, sans-serif;
  font-size: 0.9rem;
  margin-bottom: 1.5em;
}

.half-field {
  display:inline-block;
  max-width: 5em;
  margin: 0 auto;
  padding: 0.6em 0.8em;
  border-radius: 0.25em;
  border: solid lightgrey 0.1em;
  width: 100%;
  font-family: "Muli", Arial, sans-serif;
  font-size: 0.9rem;
  margin-bottom: 1.5em;
}

.field-header{
	margin-bottom: 0.5em;
	font-weight: 400;
  font-size: 1em;
}

.field-header-center{
  margin-bottom: 0.75em;
  font-weight: 400;
  text-align: center;
}

.order-summary {
	margin-bottom: 1.3em;
	font-weight: 300;

}

.float-right {
	float: right;
}

.center-align{
  text-align: center;
}

.right-align{
  margin-left: auto;
}

.left-align{
  text-align: left;
}


/*
======================================================
  #. FRONT PAGE STYLING
    Styling for index.html
======================================================
*/

/* Background image for header */
header {
  background: url("http://www.sfu.ca/~mtsumura/landingpg-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh; /* viewport height */
}



/*
======================================================
  #. MIX PAGE STYLING
    Additional styling for mix page
======================================================
*/
#info form {
  margin-bottom: 1em;
}

#addins select {
  margin-bottom: 1em;
}



/*
======================================================
  #. CART PAGE STYLING
======================================================
*/

/*Honestly not sure what these are for*/
#cart .grid-col-8of8 {
  margin-bottom: 2em;
  border-top: 1px solid #e8e8e8;
  padding: 2em 0;
}

#cart-buttons {
  float: right:
}


/*
======================================================
  #. PROFILE PAGE STYLING
======================================================
*/

/* Rounded corners for profile image */
.profile-image {
  border-radius: 2.5em;
}

/* Profile Name */
.name {
  margin-top: 2em;
  font-weight: 500;
  font-size: 1.2rem;
}

/* Profile text information */
.profile-info {
  text-align: left;
  width: 90%;
  line-height: 1.3em;
  margin-bottom: 1em;
}

/*
  Don't see this attached to anything?
  I assume it's to add more spacing to the right of the bio?
*/
#bio {
  margin-right: 3em;
}

.profile-rows {
  border-bottom: solid 1px lightgrey;
  margin-bottom: 1em;
}

.social-share {
  display: block;
  padding-bottom: 1em;
}

.edit {
  color: #C19A97;
  text-align: right;
}


/*
======================================================
  #. SELL MIX PAGE STYLING
======================================================
*/
.price-field {
  width: 30%;
  margin-bottom: 0.5em;
  padding: 0.6em 0.8em;
  border-radius: 0.25em;
  border: solid lightgrey 1px;
  font-size: 0.9rem;
  font-family: "Muli", Arial, sans-serif;
}

.text-description-area {
  margin-bottom: 0.5em;
  padding: 0.6em 0.8em;
  border-radius: 0.25em;
  border: solid lightgrey 1px;
  width: 100%;
  font-size: 0.9rem;
  font-family: "Muli", Arial, sans-serif;
  line-height: 1.3em;
}

/*Sign in / up fields */
.signin-fields {
  display:block;
  max-width: 25em;
  margin: 0 auto;
  padding: 0.6em 0.8em;
  border-radius: 0.25em;
  border: solid lightgrey 0.1em;
  width: 100%;
  font-family: "Muli", Arial, sans-serif;
  font-size: 0.9rem;
  margin-bottom: 1.5em;
}

.center-buttons {
  display:block;
  max-width: 25em;
  margin: 0 auto;
  padding-top: 1em;
  width: 100%;
}


/*
GENERAL STYLING
*/
.button-margin-top {
  margin-top: 2em;
}

.link-margin-top {
  margin-top: 1em;
}

.checkbox {
  margin-right: 0.5em;
  margin-bottom: 1em;
}

.checkbox-description {
  margin: 0 auto;
}

.colour-picker-description {
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}

.swatch {
  width: 50%;
  height: 5em;
  margin-bottom: 1em;
}

.selected-header {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 0.3em;
}

.contact-us {
  text-align: right;
  float: right;
}

.new-section{
  margin-top: 2em;
}
