/* ------------------------------------------------
  Stylesheet for swirlpolishes.co
  Authors: Joanna Lin and Michaela Tsumura
------------------------------------------------- */

/*
======================================================
    TABLE OF CONTENTS
======================================================
	1. DEFAULT STYLING
  2. INTERACTIVE ELEMENTS
  3. TEXT ELEMENTS
  4. COMBINED ELEMENTS + COMPONENTS
  5. FRONT PAGE STYLING
  6. HAMBURGER NAVIGATION HEADER STYLING
  7. POP-UPS STYLING
*/

/*
======================================================
  1. DEFAULT STYLING
    Default styling for styleguide and website
======================================================
*/

/* Takes away any built-in browser spacing */
html {
  height: 100%;
}

/* Default font-family is Muli */
body {
  font-family: 'Muli', Helvetica, sans-serif;
  color: #000000;
  min-height: 100%;
  width: 100%;
}

/* Sets margins top and bottom for sections */
section {
  margin: 1em 0;
}

/* Adds a border for any sections without id's */
section:not([id]) {
  padding: 2em 0;
  border-top: 1px solid #e8e8e8;
}

/* Adds spacing to styleguide code*/
section code {
  display: inline-block;
  background-color: #EEE; /*Light Grey */
  padding: 2em;
  margin-top: 0.5em;
  border-radius: 0.25em;
  font-size: 0.8em;
  line-height: 1.4em;
}

/* Default link styling */
a {
  text-decoration: none;
  color: #3D4656; /*Dark Blue*/
}

a:hover, a:focus {
  color: #C19A97; /*Light Pink*/
  text-decoration: underline;
}

/* Makes images scale down and responsive */
img {
  max-width: 99%;
}

/* padding for styleguide template only*/
.styleguide {
  padding: 5rem 3rem 1rem 3rem;
}

/* Default Headings */
h2 {
  color:#000000;
  padding: 0.5rem 0 0.25rem 0;
  margin:0;
}

section h3 {
  color: #3D4656;
  margin-bottom: 0;
  padding-bottom: 0.35rem;
}

/* Default Paragraph Styling*/
p {
  margin: 0;
}

section p {
  margin-top: 0;
}

label {
  padding-right: 0.5em;
}

/* --------- GENERAL ALIGNMENT -----------*/
/* --------- Alignment that can be added anywhere -----------*/
.float-right {
	float: right;
}

.text-right {
  text-align: right;
}

.center-align{
  text-align: center;
}

.right-align{
  margin-left: auto;
}

.left-align{
  text-align: left;
}


/*
======================================================
  2. INTERACTIVE ELEMENTS
    Styleguide interactive elements
======================================================
*/

/* Main Navigation Button */
.button-nav {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: #3D4656; /*Dark Blue*/
  text-decoration: none;
  letter-spacing: 0.1rem;
  text-align: center;
}

.button-nav:hover, .button-nav:focus {
  color: #C19A97; /*Light Pink*/
  text-decoration: none;
}

/* Padding for button-nav*/
.nav-padding {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Vertical centering from https://css-tricks.com/centering-css-complete-guide/ */


/* Secondary Navigation Button */
.secondary-nav {
  font-size: 0.9em;
}

/* In-text link */
.intext-links {
  text-decoration: none;
  color: #C19A97; /*Light Pink*/
  font-weight: 700;
  display: inherit;
}

.intext-links:hover, .intext-links:focus {
  color: #3D4656; /*Dark Blue*/
}

/* Secondary links */
.links-secondary {
  color: #C19A97; /*Light Pink*/
  text-align: right;
}

.links-secondary:hover, .links-secondary:focus {
  color: #3D4656 /*Dark Blue*/
}

/* Footer Links */
.footerlinks {
  color: white;
}

.footerlinks:hover, .footerlinks:focus {
  color: #3D4656 /*Dark Blue*/
}

/* --------- BUTTONS -----------*/
/* Primary Button */
.button-primary {
  padding: 0.8em 1.3em;
  background-color: #C19A97; /*Light Pink*/
  border: solid 2px #C19A97;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 0.1em;
  font-weight: 700;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  margin: 0.5em 0;
  width: 100%;
  text-align: center;
}

.button-primary:hover, .button-primary:focus {
  background-color: white;
  color: #C19A97;
  text-decoration: none;
}

/* Secondary Button */
.button-secondary {
  padding: 0.8em 1.3em;
  display: inline-block;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  border: 2px solid #C19A97;
  color: #C19A97;
  font-weight: 700;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  margin: 0.5em 0;
  width: 100%;
  text-align: center;
}

.button-secondary:hover, .button-secondary:focus {
  background-color: #C19A97; /*Light Pink*/
  color: #FFF;
  text-decoration: none;
}

/* --------- FORM FIELDS -----------*/

/* Form field for sign in/up and checkout pages */
.formfield {
  margin: 0.5em auto;
  padding: 1em 0.8em;
  border-radius: 0.25em;
  border: solid lightgrey 0.1em;
  font-family: "Muli", Arial, sans-serif;
  font-size: 0.9rem;
  margin-bottom: 1.5em;
  width: 100%;
}

/* Price field for sell-polish page */
.pricefield {
  width: 30%;
  margin-bottom: 0.5em;
  padding: 0.6em 0.8em;
  border-radius: 0.25em;
  border: solid lightgrey 1px;
  font-size: 0.9rem;
  font-family: "Muli", Arial, sans-serif;
}

/* Custom Product Description The User Inputs */
.product-description {
  margin-bottom: 0.5em;
  padding: 0.6em 0.8em;
  border-radius: 0.25em;
  border: solid lightgrey 1px;
  width: 100%;
  font-size: 0.9rem;
  font-family: "Muli", Arial, sans-serif;
  line-height: 1.3em;
  height: 7em;
}

/* Dropdown for multiple add-in's and custom options */
.dropdown {
  padding: 1.2em;
  border-radius: 0.25em;
  width: 100%;
  font-size: 1em;
  letter-spacing: 0.02em;
  margin-bottom: 1em;
} /*source:http://www.w3schools.com/tags/tag_select.asp*/

/* Drop down filter */
.dropdown-filter {
  border-radius: 0.25em;
  padding: 0.5em;
  font-size: 0.9em;
  width: 80%;
}

/* ICONS */
/* Social Media Icons */
.social-icon {
	width: 2rem;
	height: auto;
  border-radius: 5px;
  margin-right: 0.3em;
}

/* Search Icon*/
.search {
  max-width: 25px;
  max-height: 25px;
}

/* Icon sizing - nav bar */
.icon {
  max-width: 30px;
}

/* Hover and focus states */
.social-icon:hover, .social-icon:focus,
.icon:hover, .icon:focus,
.search:hover, .search:focus {
  opacity: 0.6;
}

/* Logo Icon */
.logo {
  max-width: 95px !important;
}

/* Colour Picker */
.swatch {
  width: 50%;
  height: 5em;
  margin-bottom: 1em;
}

/* Buy Step 1 checkbox */
.checkbox {
  margin-right: 0.5em;
  margin-bottom: 1em;
}

/* Checkbox description */
.checkbox-description {
  margin: 0 auto;
}

/* CCV Tooltip Hover */
/* Source: https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0.25em;
  padding: 0.5em;

  /* Position where the tooltip appears */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%; /*Appears on the right*/
}

.tooltip:hover .tooltiptext, .tooltip:focus .tooltiptext {
  visibility: visible;
}

/* Arrow on tooltip */
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

/*
======================================================
  3. TEXT ELEMENTS
    Styleguide text elements
======================================================
*/
/* --------- HEADINGS -----------*/
/* Main Heading Styling h1 elements */
.main-heading {
  max-width: 100%;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.02rem;
  padding-bottom: 0.3em;
  font-size: 2.5em;
}

/* Product Name h2 elements */
.product-name {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 1.5em;
}

/* Product Subheading h3 elements */
.product-subhead {
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
}

/* Secondary heading for confirmation pages h2 */
.secondary-heading {
  font-size: 2.2rem;
  margin: 0 0 0.5rem 0;
}

/* Call to Action Text on Front Page */
.landing-header {
  font-size: 3rem;
}

/* Field Headings h3 */
.field-header{
	margin: 1.3em 0 0.5em 0;
	font-weight: 400;
  font-size: 1em;
}

/* Bold Header h3 */
.bold-header {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 0.1em;
}

/* --------- PARAGRAPHS -----------*/
/* Primary paragraph style */
.paragraph-primary {
  font-size: 1em;
  max-width: 100%;
  margin: 0.3em 0 1.3em 0;
}

/* Secondary Paragraph for cart page */
.paragraph-secondary {
	font-size: 0.9em;
	font-weight: 400;
}

/* Styles the product prices */
.price {
	font-family: 'Arvo', Times, serif;
	font-weight: 700;
  text-transform: uppercase;
	color: #465166;
	margin-top: 0.3em;
  margin-bottom: 1em;
  font-size:1em;
}

/* Lists used in the citations*/
.lists {
  list-style: none;
  margin-top: 0.5em;
  line-height: 2rem;
  padding-left: 0;
  font-size: 0.8em;
}
/* end of styling the TEXT ELEMENTS*/


/*
======================================================
  4. COMBINED ELEMENTS + COMPONENTS
    Styleguide Combined Elements
======================================================
*/

/* --------- MAIN NAVIGATION -----------*/

/* Main Navigation */
.main-nav {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 98;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 8px #f7f7f7;
  padding: 0.5em 1em;
  list-style: none;
}

/* Not fixed positioning navigation for styleguide */
.styleguide-main-nav {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 8px #f7f7f7;
  padding: 0.5em 1em;
  list-style: none;
}

/*Main Navigation */
.background {
  padding: 2em 0;
}

/* --------- COLOUR SCHEME -----------*/
/*Intended colour scheme for the website */
.swatch1 {
  background-color: #AD7C83; /*Dark pink*/
  color: white;
  text-align: center;
  padding: 1rem;
}

.swatch2 {
  background-color: rgba(173, 124, 131, 0.4); /* Light Pink */
  color: #3D4656;
  text-align: center;
  padding: 1rem;
}

.swatch3 {
  background-color: #3D4656; /* Navy BLue */
  color: white;
  text-align: center;
  padding: 1rem;
}

.swatch4 {
  background-color: black; /* Black */
  color: white;
  text-align: center;
  padding: 1rem;
}

/* --------- PRODUCT LISTING: BROWSE + SHOP PAGES -----------*/
/* Grey border around product image */
.product-list-view {
  padding: 1em;
  border: solid 1px #D3D3D3; /*Light Grey*/
}

.product-list-view:hover, .product-list-view:focus, .product-list-view:active {
  border: solid 3px #D3D3D3; /*Light Grey*/
}

/* Spacing after grid-row (browse and shop pages) */
.grid-row-spacing {
  margin: 2rem 0;
}

/* --------- FOOTER -----------*/
/* Not fixed positioning footer for front page only */
.footer-frontpage {
  background-color: rgba(173, 124, 131, 0.4); /*Light Pink 40%*/
  padding: 1.5em 1em;
  color: white;
  height: auto;
}

/* Fixed footer, used for remainder of pages */
.footer{
	background-color: rgba(173, 124, 131, 0.4); /*Light Pink 40%*/
	padding: 1.5em 1em; /*T R B L*/
	color: white;
  height:auto;
  text-align: left;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/*
  White background that hides the fixed footer until you scroll
  towards the bottom. On pages without enough content fixes footer
  to bottom.
 */

.content-container, .form-container, .checkout-container {
  background: white;
  position: relative;
  margin-bottom: 10rem;
  z-index: 10;
}

/* --------- CART -----------*/
/* Places a border around the cart image */
.cart-image {
	border: solid lightgrey 1px;
}

/* grey divider at the bottom of each order, cart + receipt pages */
.divider {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: solid lightgrey 1px;
}

/* End of styling COMBINED ELEMENTS + COMPONENTS */

/*
======================================================
  5. FRONT PAGE STYLING
    Styling for index.html
======================================================
*/

/* Background image for header */
header {
  background: url("http://www.sfu.ca/~mtsumura/landingpg-bg.jpg") no-repeat center center fixed;
  /*Images collaged from:
  Top Left:
  Polish Brush: https://thumbs.dreamstime.com/z/pink-nail-polish-brush-white-background-56773613.jpg
  Pink Polish Splosh: https://s-media-cache-ak0.pinimg.com/236x/9f/b3/f2/9fb3f2fe46e3511c416f268ba7b5ebf7.jpg
  Pink Polish Splosh 2: http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=101284877

  Top Right:
  Gold Glitter Pile: http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=3522079
  Gold Powder Pile: https://paintpearls.com/wp-content/uploads/2015/04/Aztec-Gold-Pile.png

  Bottom Left:
  Blue Polish Spots: https://thumbs.dreamstime.com/x/blots-blue-nail-polish-isolated-white-background-40947032.jpg
  Multi-Coloured Glitter Pile: http://www.vampyvarnish.com/wp-content/uploads/2014/03/Urban-Decay-Heavy-Metal-Loose-Glitter-4.jpg

  Bottom Right:
  Gold Polish: http://images.freeimages.com/images/premium/previews/5119/51193638-splash-of-nail-polish.jpg
  */

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh; /* 100% viewport height */
}

/* End of styling FRONT PAGE */

/*
======================================================
  6. HAMBURGER NAVIGATION HEADER STYLING
======================================================
*/

/*Modified hamburger menu code retrieved from http://johnm.io/project/hamburgler/*/

/*.hamburger-icon-wrapper {
  position: absolute;
  top: 1em;
  right: 2em;
  height: 26px;
  width: 26px;
  cursor: pointer
}

.hamburger-icon,
.hamburger-icon:before,
.hamburger-icon:after {
  content: '';
  position: absolute;
  border-radius: 1em;
  height: 2px;
  width: 26px;
  background: #3D4656;
  transition: all 0.2s ease
}

.hamburger-icon {
  top: 1em;
}

.hamburger-icon:before {
  top: -0.55em
}

.hamburger-icon:after {
  top: 0.55em
}

.hamburger-active .hamburger-icon {
  background: transparent;
  transform: rotate(-135deg)
}

.hamburger-active .hamburger-icon:before,
.hamburger-active .hamburger-icon:after {
  top: 0
}

.hamburger-active .hamburger-icon:before {
  transform: rotate(90deg)
}

.hamburger-active .hamburger-icon,
.hamburger-active .hamburger-icon:before,
.hamburger-active .hamburger-icon:after {
  background: black;
}

.hamburger-menu {
  transition: all 0.4s ease;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255, 0.95);
  color: #3D4656;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  line-height: 2.5em;
  text-align: center;
  z-index: 99;
}

.hamburger-item:hover, .hamburger-item:focus {
  color: #C19A97;
}

.hamburger-active .hamburger-menu {
  opacity: 1;
  pointer-events: none;
}

.hamburger-menu-list {
  display: block;
  transition: all 0.4s ease;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 99;
}

.hamburger-active .hamburger-menu-list {
  transform: translate(-50%, -50%) scale(1);
}*/

/*End of modified hamburger menu code retrieved from http://johnm.io/project/hamburgler/*/


.mobile {
/*  display: none;*/
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.mobile div {
  display: none;
}

.mobile button {
  position: absolute;
  top: 15px;
  right: 2em;
  border: 0;
  text-indent: 200%;
  overflow: hidden;
  background: #FFFFFF url("https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/Menu1-128.png") center no-repeat;
  background-size: 80%;
  width: 30px;
  height: 30px;
  outline: none;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.mobile button.expanded {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: transparent;
  border: 0;
}

.mobile a {
  display: block;
  background-color: white;
}

.hamburger a {
  display: block;
  background-color: white;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: #222;
  font-weight: bold;
}

.hamburger a:hover,
.hamburger a:active,
.hamburger a:focus{
  color: #C19A97;
  text-decoration: none !important;
}

/*
======================================================
  7. POP-UPS STYLING
======================================================
*/
/* How to make a pop-up. Retrieved from https://codepen.io/imprakash/pen/GgNMXO*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.85);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 11;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup-small {
  margin: 6em auto;
  padding: 2em 3em 3em 3em;
  background: #fff;
  border-radius: 5px;
  border: solid 1px lightgrey;
  width: 25%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 97;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  /*How to make popups that scroll. Retrieved from http://codepen.io/anon/pen/oXEKNg*/
}

.popup {
  margin: 6em auto;
  padding: 3.5em 3em 3em 3em;
  background: #fff;
  border-radius: 5px;
  border: solid 1px lightgrey;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  z-index: 98;
}

.popup-large {
  margin: 6em auto;
  padding: 3.5em 3em 3em 3em;
  background: #fff;
  border-radius: 5px;
  border: solid 1px lightgrey;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  z-index: 99;
}

.popup .close, .popup-large .close, .popup-small .close, .popup-search .close  {
  position: absolute;
  top: 10px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  text-decoration: none;
  color: #333;
}

.popup .close:hover, .popup .close:focus, .popup-large .close:hover,.popup-large .close:focus, .popup-small .close:hover, .popup-small .close:focus{
  color: #C19A97;
}

.popup .content, .popup-large .content, .popup-small .content, .popup-search .content{
  max-height: 30%;
  overflow: auto;
}

.popup-image {
  width: 20em;
  padding-right: 1em;
}
/* End of how to make a pop-up. Retrieved from https://codepen.io/imprakash/pen/GgNMXO*/
