/* Grids File */

* {
  box-sizing: border-box;
}
[class ^= 'grid-col-'] {
  float: left;
}

.grid-col-1of4, .grid-col-1of6, .grid-col-2of6, .grid-col-3of6 {
  width: 100%;
}

.container .block {
  height: 15rem;
}
.container .block:nth-of-type(even) {
  background-color: rgba(40,44,56, 0.2);
}
.container .block:nth-of-type(odd) {
  background-color: rgba(70,74,86, 0.2);
}

.grid-row::after {
  content: "";
  display: block;
  clear: both;
}

/*MEDIA QUERIES*/
@media (min-width: 43.75em) {
  /* 4 Column Grid */
  .grid-col-1of4 {
    width: 25%;
  }

  /* 6 Column Grid */
  .grid-col-1of6 {
    width: 16.66%;
  }

  .grid-col-3of6 {
    width: 50%;
  }
}

@media (min-width: 50em) {

  .grid-col-2of6 {
    width: 33.33333333%;
  }

  .grid-col-2of6-r {
    width: 33.33333333%;
    margin-left: 2em;
  }
}

