/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', Helvetica, sans-serif;
  padding: 1rem 3rem;
  color: #000000;
}

section:not([id]) {
  margin: 1em 0;
  padding: 2em 0;
  border-top: 1px solid #e8e8e8;
}

section code {
  display: inline-block;
  background-color: #EEE;
  padding: 1em;
  margin-top: 0.5em;
  margin-right: 3em;
  border-radius: 0.5em;
  font-size: 0.8em;
}

/*
  INTERACTIVE ELEMENTS STYLING  ----------------------------------------------------------------------------
*/


/*
  TEXT ELEMENTS STYLING ----------------------------------------------------------------------------
*/

/*header styling (x3)*/
.main-heading {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  color: 000000;
  letter-spacing: 0.02rem;
}

h2 {
  color:#000000;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
}

.product-subhead {
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

section h3 {
  color: #3D4656;
  margin-bottom: 0;
  padding-bottom: 0.35rem;
}

.product-name {
  margin: 0;
  padding: 0;
  color: black;
}

/*paragraph styling*/
section p {
  margin-top: 0;
}

.content-description {
  max-width: 800px;
}

.product-description {
  max-width: 100%;
}

.lists {
  line-height: 1.5rem;
}

.price {
	font-family: 'Arvo', Times, serif;
	font-weight: 400;
	color: #AD7C83;
}
/* end of styling the TEXT ELEMENTS*/





/*
  COMBINED ELEMENTS ----------------------------------------------------------------------------
*/

/*product listing styles*/
.fit-product {
  padding-right: 2rem;
  max-width: 100%;
  max-height: 100%;
}

/*SWATCHES*/
/*colour swatch block styling */
.swatch1 {
  background-color: #AD7C83;
  color: white;
  text-align: center;
  padding: 1rem;
}

.swatch2 {
  background-color: rgba(173, 124, 131, 0.4);
  color: #3D4656;
  text-align: center;
  padding: 1rem;
}

.swatch3 {
  background-color: #3D4656;
  color: white;
  text-align: center;
  padding: 1rem;
}

.swatch4 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
}
